#top-bar
.about-header
  .iconmelon
    %svg{:viewBox => "0 0 32 32"}
      %use{"xlink:href" => "#globe1"}
  %h2 
    About the 
    %span#green Ramblethru 
    Team
.about-body
  #about-project    
    Three people. Three weeks. Untold cups of coffee.
    The result: this website, our final project for The Iron Yard (Durham, NC). Rails Engineering, Cohort 2. Fall 2014.
  %ul
    %li
      .greg
        .face
          %img= image_tag("greg_burton.jpg", :class => "face")
        %b.name Greg Burton
        %i.project-det Scrum master, frontend, backend  
        %a{:href => "https://github.com/gregburton", :target => "_blank"}
          %i.fa.fa-github-square.fa-2x
        %a{:href => "https://www.linkedin.com/pub/greg-burton/25/26a/54a", :target => "_blank"}
          %i.fa.fa-linkedin-square.fa-2x  
        %a{:href => "https://twitter.com/Gregurton", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-2x
        %a{:href => "http://gregburton.github.io/", :target => "_blank"}
          %i.fa.fa-external-link-square.fa-2x
        #about 
          Tells lots of groan-worthy dad jokes, yet is not actually anyone's father.
      .shows1{:onmouseout => "this.style.background='rgba(255,255,255,0.5)';", :onmouseover => "this.style.background='rgba(46,117,98,0.2)';"}/   
      #gif Favorite gif: 
      .four-results
        %li
          %span.fshow
            %img.gif{:src => "http://www.wired.com/images_blogs/underwire/2013/01/oprahbees.gif"}
      :javascript
        $(".shows1").click(function () {
          $(".fshow").toggle();
        });    
    %li
      .danielle
        .face
          %img= image_tag("danielle.jpg", :class => "face")
        %b.name Danielle Heckman
        %i.project-det Project owner, design, frontend
        %a{:href => "https://github.com/dheckman", :target => "_blank"}
          %i.fa.fa-github-square.fa-2x
        %a{:href => "https://www.linkedin.com/pub/danielle-heckman/", :target => "_blank"}
          %i.fa.fa-linkedin-square.fa-2x
        %a{:href => "https://twitter.com/danielleheckman", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-2x
        %a{:href => "https://medium.com/@danielleheckman", :target => "_blank"}
          %i.fa.fa-external-link-square.fa-2x
        #about Is a firm believer in coffee kegs.
      .shows2{:onmouseout => "this.style.background='rgba(255,255,255,0.5)';", :onmouseover => "this.style.background='rgba(46,117,98,0.2)';"}
        #gif Favorite gif: 
      .four-results 
        %li
          %span.yshow
            %img.gif{:src => "http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr03/19/17/anigif_enhanced-buzz-19584-1387492187-3.gif"}
      :javascript
        $(".shows2").click(function () {
          $(".yshow").toggle();
        });
    %li
      .noah
        .face
          %img= image_tag("noah_holmes.jpg", :class => "face")
        %b.name Noah Holmes  
        %i.project-det Github master, frontend, backend
        %a{:href => "https://github.com/Noahhh", :target => "_blank"}
          %i.fa.fa-github-square.fa-2x
        %a{:href => "https://www.linkedin.com/pub/noah-holmes/a7/725/58a/", :target => "_blank"}
          %i.fa.fa-linkedin-square.fa-2x
        %a{:href => "https://twitter.com/nrnholmes", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-2x
          %a{:href => "http://noahhh.github.io/", :target => "_blank"}
            %i.fa.fa-external-link-square.fa-2x
        #about That's my purse I don't know you. 
        .shows3{:onmouseout => "this.style.background='rgba(255,255,255,0.5)';", :onmouseover => "this.style.background='rgba(46,117,98,0.2)';"}
          #gif Favorite gif:
        .four-results  
          %li#gif-wrap
            %span.ishow
              %img.gif{:src => "http://i.imgur.com/eMC98.gif"}
        :javascript
          $(".shows3").click(function () {
            $(".ishow").toggle();
            if ($("#gif-wrap").is(':visible')) {
              $("html, body").animate({scrollTop: $("#gif-wrap").offset().top});
            }
          });      
    
